@import "../../styling";
.HomepageContainer{
    @extend .center-vertical;
    width: 100%;

}
.HomePageSelectContainer{
    padding: calculateRem(10);

}

.HomePageListByCountry{
    @extend .center-items-top;
    width: 100%;
}
.ChartCategory{
    @extend .center-vertical;
    width: 100%;
    height: 100%;
}